.contact input::-webkit-outer-spin-button,
.contact input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.contact input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (min-width:642px){
	.contact{
		padding-top: 10vh;
		width: 100vw;
	}

	.contact > div:nth-child(1){
		width: 100vw;
		height: 80vh;
		overflow-y: hidden;
	}
	.contact > div:nth-child(1) > img{
		width: 100%;
	}
	/***********************************second div****************************************/
	.contact > div:nth-child(2){
		width: 50vw;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: absolute;
		top: 25vh;
		background-color: rgba(8, 8, 8, 0.4);
		padding: 3vw 3vw;
	}
	.contact > div:nth-child(2) > h1{
		font-size: 3vw;
		padding: 2vh 0;
		letter-spacing: 5px;
	}
	.contact > div:nth-child(2) > p{
		font-size: 1.3vw;
		padding: 2vh 0vh;
		margin-bottom: 2vh;
		letter-spacing: 3px;
		line-height: 35px;
	}
	.contact > div:nth-child(2) > div{
		width: 5vw;
		height: 0.5vh;
		background: white;
		margin-left: 5vh;
		margin-right: 5vh;
	}
	.contact > div:nth-child(2) > hr{
		margin-left: 5vh;
		margin-right: 5vh;
	}
	/*****************************************third div*************************************************/
	.contact > div:nth-child(3){
		width: 100vw;
		display: flex;
		align-items: center;
		height: 120vh;
		background-color: rgb(244, 244, 244);
	}

	.contact > div:nth-child(3) > div:nth-child(1){
		width: 50%;
		height: 100%;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(1){
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 35%;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > h1{
		font-size: 2vw;
		color: rgb(8, 8, 8);
		text-align: center;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > p{
		font-size: 1.3vw;
		color: rgb(60, 60, 60);
		text-align: center;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2){
		display: inline-flex;
		flex-direction: column;
		height: 65%;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div{
		display: inline-flex;
		flex-direction: row;
	}
	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div > div{
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 50%;
		padding: 2vh 0;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div > div > h1{
		font-size: 1.3vw;
		padding: 1vh 0;
		color: rgb(8, 8, 8);
	}
	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div > div > p{
		font-size: 1vw;
		padding: 1vh 0;
		color: rgb(80, 80, 80);
	}
	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div > div > img{
		width: 15%;
		padding: 1vh 0;
	}

	.contact > div:nth-child(3) > form{
		width: 47%;
		height: 94%;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-radius: 2vh;
		background-color: rgb(244, 244, 244);
		border:1px solid rgb(8, 8, 8);

	}
	.contact > div:nth-child(3) > form > h1{
		color: rgb(8, 8, 8);
		font-size: 2vw;
	}
	.contact > div:nth-child(3) > form > div{
		width: 100%;
		display: inline-flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.contact div > input, .contact div > textarea, .contact div > select{
		resize: none;
		border: none;
		transition-duration: 0.25s;
		width: 45%;
		border: 1px solid rgb(160, 160, 160);
		border-radius: 1vH;
		padding: 1vh 0;
		text-align: center;
		font-size: 1.3vw;
		background-color: rgb(242, 242, 242);
		color: rgb(8, 8, 8);
		outline: none;
	}

	.contact > div:nth-child(3) form > div:nth-child(2) input{
		width: 80%;
	}
	.contact input:hover, .contact textarea:hover, .contact select:hover{
		border-color: rgb(8, 8, 8);
	}


	.contact > div:nth-child(3) > form > div > textarea{
		width: 90%;
		color: rgb(23, 23, 23);
		height: 30vh;
		font-size: 1.3vw;
	}

	.contact > div:nth-child(3) > form > button{
		width: 40%;
		padding: 1vh 0;
		font-size: 1.5vw;
		border: 1px solid transparent;
		background-color: rgb(220, 30, 30);
		color: rgb(244, 244, 244);
		transition-duration: 0.25s;
		border-radius: 1vh;
	}
	.contact > div:nth-child(3) > form > button:hover{
		width: 50%;
		background-color: transparent;
		color: rgb(220, 30, 30);
		border-color: rgb(220, 30, 30);
	}
	.contact > div:nth-child(3) > form > button:active{
		background-color: rgb(220, 30, 30);
		color: rgb(229, 229, 229);
	}
	/*******************************************fourth div********************************************/
	
	.contact div:nth-child(4) >h1{
		font-size: 2vw;
		color: rgb(229, 229, 229);
		position: absolute;
		top:216.5vh;
		padding: 1vh;
		width: 20%;
		text-align: center;
		background-color: rgba(8, 8, 8);
		border: 1px solid rgb(244, 244, 244);
		border-radius:1vh ;
	}

	.contact > div:nth-child(4){
		width: 100vw;
		height: 130vh;
		background-color: rgb(8, 8, 8);
		color: rgb(23, 23, 23);
		display: flex;
		justify-content: center;
		padding: 5vw 0;
	}
	.contact div:nth-child(4) > form{
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 40%;
		height: 100%;
		border-radius: 2vh;
		border: 1px solid rgb(244, 244, 244);
	}
	
	.contact div:nth-child(4) > form input,.contact div:nth-child(4) > form textarea,.contact div:nth-child(4) > form select{
		width: 80%;
		border-radius: 1vh;
		padding: 1vh 0;
		text-align: center;
		resize: none;
		font-size: 1.3vw;
		color:rgb(244, 244, 244);
		background-color: rgb(15, 15, 15);
		border: 1px solid rgb(144, 144, 144);
		outline:none;
	}
	.contact div:nth-child(4) > form textarea{
		height: 30%;
	}
	.contact div:nth-child(4) > form input:hover,.contact div:nth-child(4) > form textarea:hover,.contact div:nth-child(4) > form select:hover{
		border-color:rgb(244, 244, 244) ;
	}
	.contact div:nth-child(4) > form input[type = "submit"]{
		width: 40%;
		padding: 1vh 0;
		font-size: 1.3vw;
		border: 1px solid transparent;
		background-color: rgb(220, 30, 30);
		color: rgb(229, 229, 229);
		transition-duration: 0.25s;
		border-radius: 1vh;
	}
	.contact div:nth-child(4) > form input[type = "submit"]:hover{
		width: 50%;
		background-color: transparent;
		color: rgb(220, 30, 30);
		border-color: rgb(220, 30, 30);
	}
	.contact div:nth-child(4) > form input[type = "submit"]:active{
		background-color: rgb(220, 30, 30);
		color: rgb(229, 229, 229);
	}
}










@media only screen and (max-width:642px){
	.contact{
		padding-top: 10vh;
		width: 100vw;
	}

	.contact > div:nth-child(1){
		width: 100vw;
		height: 80vh;
	}
	.contact > div:nth-child(1) > img{
		width: 100%;
	}
	/***********************************second div****************************************/
	.contact > div:nth-child(2){
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		position: absolute;
		top: 20vh;
		background-color: rgba(8, 8, 8, 0.4);
		padding: 3vh 3vh;
	}
	.contact > div:nth-child(2) > h1{
		font-size: 5vh;
		padding: 2vh 0;
		letter-spacing: 5px;
	}
	.contact > div:nth-child(2) > p{
		font-size: 3vh;
		padding: 2vh 0vh;
		margin-bottom: 2vh;
		letter-spacing: 3px;
		line-height: 35px;
	}
	.contact > div:nth-child(2) > div{
		width: 5vh;
		height: 0.5vh;
		background: white;
		margin-left: 2vh;
		margin-right: 2vh;
	}
	.contact > div:nth-child(2) > hr{
		margin-left: 2vh;
		margin-right: 2vh
	}
	/*****************************************third div*************************************************/
	.contact > div:nth-child(3){
		width: 100vw;
		display: flex;
		background-color: rgb(244, 244, 244);
		flex-direction: column;
		align-items: center;
	}

	.contact > div:nth-child(3) > div:nth-child(1){
		width: 100%;
		height: 70vh;
		display: inline-flex;
		flex-direction: column;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(1){
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 40%;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > h1{
		font-size: 3vh;
		color: rgb(8, 8, 8);
		text-align: center;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) > p{
		font-size: 2vh;
		color: rgb(60, 60, 60);
		text-align: center;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2){
		display: inline-flex;
		flex-direction: column;
		height: 60%;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div{
		display: inline-flex;
		flex-direction: row;
	}
	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div > div{
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 50%;
	}

	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div > div > h1{
		font-size: 2vh;
		color: rgb(8, 8, 8);
		text-align: center;
	}
	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div > div > p{
		font-size: 1.5vh;
		padding: 1vh 0;
		color: rgb(60, 60, 60);
		text-align: center;
	}
	.contact > div:nth-child(3) > div:nth-child(1) > div:nth-child(2) > div > div > img{
		width: 20%;
		padding: 1vh 0;
	}

	.contact > div:nth-child(3) > form{
		display:none}
	/*******************************************fourth div********************************************/
	.contact > div:nth-child(4){
		width: 100vw;
		height: 100vh;
		background-color: rgb(8, 8, 8);
		color: rgb(244, 244, 244);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10vh 0;
	}
	.contact div:nth-child(4) >h1{
		font-size: 2vh;
		color: rgb(229, 229, 229);
		position: absolute;
		top:167.5vh;
		padding: 1vh;
		width: 60%;
		text-align: center;
		background-color: rgba(8, 8, 8);
		border: 1px solid rgb(244, 244, 244);
		border-radius:1vh ;
	}
	.contact div:nth-child(4) > form{
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 90%;
		height: 100%;
		border: 1px solid rgb(244, 244, 244);
		border-radius: 1vh;
	}
	.contact div:nth-child(4) > form input,.contact div > form textarea,.contact div > form select{
		width: 90%;
		border: 1px solid transparent;
		border-radius: 1vh;
		padding: 1vw 0;
		text-align: center;
		resize: none;
		font-size: 2vh;
		color: rgb(244, 244, 244);
		background-color: rgb(15, 15, 15);
		border: 1px solid rgb(244, 244, 244);
		outline: none;
	}
	.contact div:nth-child(4) > form textarea{
		height: 30%;
	}
	.contact div > form input[type = "submit"]{
		background-color: rgb(220, 38, 38);
		border: 3px solid transparent;
		color: rgb(244, 244, 244);
		transition-duration: 0.2s;
		width: 60%;
		border-radius: 1vh;
		font-size: 2vh;
	}
	.contact div:nth-child(4) > form input[type = "submit"]:active{
		background-color: transparent;
		border-color: rgb(220, 38, 38);
		color: rgb(220, 38, 38);
		width: 70%;
	}


	/****************************************fifth div**********************************/
	.contact > div:nth-child(5){
		width: 100vw;
		height: 110vh;
		background-color: rgb(8, 8, 8);
		color: rgb(244, 244, 244);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10vh 0;
	}
	.contact div:nth-child(5) >h1{
		font-size: 2vh;
		color: rgb(229, 229, 229);
		position: absolute;
		top:267.5vh;
		padding: 1vh;
		width: 60%;
		text-align: center;
		background-color: rgba(8, 8, 8);
		border: 1px solid rgb(244, 244, 244);
		border-radius:1vh ;
	}
	.contact div:nth-child(5) > form{
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 90%;
		height: 100%;
		border: 1px solid rgb(244, 244, 244);
		border-radius: 1vh;
	}
	.contact div:nth-child(5) > form input,.contact div > form textarea,.contact div > form select{
		width: 90%;
		border: 1px solid transparent;
		border-radius: 1vh;
		padding: 1vw 0;
		text-align: center;
		resize: none;
		font-size: 2vh;
		color: rgb(244, 244, 244);
		background-color: rgb(15, 15, 15);
		border: 1px solid rgb(244, 244, 244);
		outline: none;
	}
	.contact div:nth-child(5) > form textarea{
		height: 30%;
	}
	.contact div > form input[type = "submit"]{
		background-color: rgb(220, 38, 38);
		border: 3px solid transparent;
		color: rgb(244, 244, 244);
		transition-duration: 0.2s;
		width: 60%;
		border-radius: 1vh;
		font-size: 2vh;
	}
	.contact div:nth-child(5) > form input[type = "submit"]:active{
		background-color: transparent;
		border-color: rgb(220, 38, 38);
		color: rgb(220, 38, 38);
		width: 70%;
	}
}