@media only screen and (min-width:	642px){
/*****************************************************All Home Intro**********************************************/
	.home_intro{
		width: 100vw;
	}
	.home_intro > div:nth-child(1){
		width: 100vw;
		height: 100vh;
		padding:2vw;
		display: flex;
	}
/****************************************************Home Intro Wrapper*********************************************/
	.home_intro_wrapper{
		width: 50%;
	}
/*****************************************************First Home Intro**********************************************/
	.home_intro_1{
		height: 100%;
		width: 100%;
		background-color: rgb(27 27 27);
		padding-left:5%;
		padding-top: 10%;
		transition-duration: 0.5s;
	}
	
	.home_intro_1:hover{
		height: 99%;
		width:100%;
		margin:0.25% 0% 0% 0.5%;
		background-color: rgb(37 37 37);
	}

	.home_intro_1 h1:nth-child(1){
		color: rgb(74 222 128);
		font-size: 3vh;
		margin-bottom: 3vw;
	}
	
	.home_intro_1 h1:nth-child(2),.home_intro_1 h1:nth-child(3){
		color: rgb(241 245 249);
		width:70%;
	}

	.home_intro_1 h1:nth-child(2){
		font-size: 5vh;
		font-weight: lighter;
		margin-bottom: 3vw;
	}

	.home_intro_1 h1:nth-child(3)
	{
		font-size: 2.5vh;
		font-weight: lighter;
		margin-bottom: 3vw;
	}

	.home_intro_1 a{
		display: block;
		width: 35%;
		background-color: rgb(225 225 225);
		padding:1.5vh;
		border-radius:4px;
		color: rgb(30 41 59);
		text-align: center;
		font-size:2.5vh;
		font-weight: bold;
		transition-duration: 0.25s;
	}
	
	.home_intro_1 a:hover{
		background-color: rgb(255 255 255);
		color: rgb(10 21 39);
		width: 40%;
	}

	.home_intro_1 a:active{
		background-color: rgb(245 245 245);
		color: rgb(30 41 59);
	}
/*************************************************Second Home Intro***********************************************/
	.home_intro_2{
		height: 100%;
		width: 100%;
		background-color: rgb(245 245 245);
		padding-left:5%;
		padding-top: 10%;
	}

	.home_intro_2 h1:nth-child(1){
		color: rgb(239 68 68);
		font-size: 3vh;
		margin-bottom: 3vw;
	}
	
	.home_intro_2 h1:nth-child(2),.home_intro_2 h1:nth-child(3){
		color: rgb(30 41 59);
		width:70%;
	}

	.home_intro_2 h1:nth-child(2){
		font-size: 5vh;
		font-weight: lighter;
		margin-bottom: 3vw;
	}

	.home_intro_2 h1:nth-child(3)
	{
		font-size: 2.5vh;
		font-weight: lighter;
		margin-bottom: 3vw;
	}

	.home_intro_2 a{
		display: block;
		width: 35%;
		background-color: rgb(40 40 40);
		padding:1.5vh;
		border-radius:4px;
		color: rgb(241 245 249);
		text-align: center;
		font-size:2.5vh;
		font-weight: bold;
		transition-duration: 0.25s;
	}
	
	.home_intro_2 a:hover{
		background-color: rgb(0 0 0);
		color: rgb(255 255 255);
		width: 40%;

	}

	.home_intro_2 a:active{
		background-color: rgb(245 245 245);
		color: rgb(241 245 249);
	}

	.home_intro > div:nth-child(2){
		display: flex;
		flex-direction: column;
	}

	.home_intro > div:nth-child(2) > h1{
		text-align: center;
		font-size: 3vw;
	}
	.home_intro > div:nth-child(2) > hr{
		width:15vw;
		margin: auto;
		margin-bottom: 5vh;
	}

	.home_intro > div:nth-child(2) > div{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		background-color: white;
	}

	.home_intro > div:nth-child(2) > div > img:nth-child(3){
		width: 13vw;
	}
}








@media only screen and (max-width:642px){
	.home_intro{
		width: 100vw;
		padding-top: 10vh;
	}
	.home_intro > div:nth-child(1){
		width: 100vw;
		padding:2vw;
		display: flex;
		flex-direction: column;
	}
/****************************************************Home Intro Wrapper*********************************************/
	.home_intro_wrapper{
		width: 100%;
	}
/*****************************************************First Home Intro**********************************************/
	.home_intro_1{
		height: 90vh;
		width: 100%;
		background-color: rgb(27 27 27);
		padding-left:5%;
		padding-top: 10%;
		transition-duration: 0.5s;
	}

	.home_intro_1 h1:nth-child(1){
		color: rgb(74 222 128);
		font-size: 3vh;
		margin-bottom: 5vh;
	}
	
	.home_intro_1 h1:nth-child(2),.home_intro_1 h1:nth-child(3){
		color: rgb(241 245 249);
		width:70%;
	}

	.home_intro_1 h1:nth-child(2){
		font-size: 5vh;
		font-weight: lighter;
		margin-bottom: 3vh;
	}

	.home_intro_1 h1:nth-child(3)
	{
		font-size: 2.5vh;
		font-weight: lighter;
		margin-bottom: 5vh;
	}

	.home_intro_1 a{
		display: block;
		width: 50%;
		background-color: rgb(225 225 225);
		padding:1.5vh;
		border-radius:4px;
		color: rgb(30 41 59);
		text-align: center;
		font-size:2.5vh;
		font-weight: bold;
		transition-duration: 0.25s;
	}
	
	.home_intro_1 a:active{
		background-color: rgb(200 200 200);
		color: rgb(20 42 78);
	}
/*************************************************Second Home Intro***********************************************/
	.home_intro_2{
		height: 90vh;
		width: 100%;
		background-color: rgb(245 245 245);
		padding-left:5%;
		padding-top: 10%;
	}

	.home_intro_2 h1:nth-child(1){
		color: rgb(239 68 68);
		font-size: 3vh;
		margin-bottom: 5vh;
	}
	
	.home_intro_2 h1:nth-child(2),.home_intro_2 h1:nth-child(3){
		color: rgb(30 41 59);
		width:70%;
	}

	.home_intro_2 h1:nth-child(2){
		font-size: 5vh;
		font-weight: lighter;
		margin-bottom: 3vh;
	}

	.home_intro_2 h1:nth-child(3)
	{
		font-size: 2.5vh;
		font-weight: lighter;
		margin-bottom: 5vh;
	}

	.home_intro_2 a{
		display: block;
		width: 50%;
		background-color: rgb(40 40 40);
		padding:1.5vh;
		border-radius:4px;
		color: rgb(241 245 249);
		text-align: center;
		font-size:2.5vh;
		font-weight: bold;
		transition-duration: 0.25s;
	}
	

	.home_intro_2 a:active{
		background-color: rgb(80 80 80);
		color: rgb(200 200 200);
	}

	.home_intro > div:nth-child(2){
		display: flex;
		flex-direction: column;
	}

	.home_intro > div:nth-child(2) > h1{
		text-align: center;
		font-size: 3vw;
	}
	.home_intro > div:nth-child(2) > hr{
		width:15vw;
		margin: auto;
		margin-bottom: 5vh;
	}

	.home_intro > div:nth-child(2) > div{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		background-color: white;
	}

	.home_intro > div:nth-child(2) > div > img:nth-child(3){
		width: 13vw;
	}
}