@media only screen and (min-width:	642px){
/*****************************************************All Home Intro**********************************************/
	.home_intro{
		width: 100vw;
	}
	.home_intro > div:nth-child(1){
		width: 100vw;
		height: 100vh;
		padding:2vw;
		display: flex;
	}
/****************************************************Home Intro Wrapper*********************************************/
	.home_intro_wrapper{
		width: 50%;
	}
/*****************************************************First Home Intro**********************************************/
	.home_intro_1{
		height: 100%;
		width: 100%;
		background-color: rgb(8 8 8);
		padding-left:5%;
		padding-top: 10%;
		transition-duration: 0.5s;
	}
	
	.home_intro_1:hover{
		height: 99%;
		width:100%;
		margin:0.25% 0% 0% 0.5%;
		background-color: rgb(23 23 23);
	}

	.home_intro_1 h1:nth-child(1){
		color: rgb(74 222 128);
		font-size: 3vh;
		margin-bottom: 3vw;
	}
	
	.home_intro_1 h1:nth-child(2),.home_intro_1 h1:nth-child(3){
		color: rgb(241 245 249);
		width:70%;
	}

	.home_intro_1 h1:nth-child(2){
		font-size: 5vh;
		font-weight: lighter;
		margin-bottom: 3vw;
	}

	.home_intro_1 h1:nth-child(3)
	{
		font-size: 2.5vh;
		font-weight: lighter;
		margin-bottom: 3vw;
	}

	.home_intro_1 a{
		display: block;
		width: 35%;
		background-color: rgb(225 225 225);
		padding:1.5vh;
		border-radius:4px;
		color: rgb(30 41 59);
		text-align: center;
		font-size:2.5vh;
		font-weight: bold;
		transition-duration: 0.25s;
	}
	
	.home_intro_1 a:hover{
		background-color: rgb(255 255 255);
		color: rgb(10 21 39);
		width: 40%;
	}

	.home_intro_1 a:active{
		background-color: rgb(245 245 245);
		color: rgb(30 41 59);
	}
/*************************************************Second Home Intro***********************************************/
	.home_intro_2{
		height: 100%;
		width: 100%;
		background-color: rgb(241 245 249);
		padding-left:5%;
		padding-top: 10%;
	}

	.home_intro_2 h1:nth-child(1){
		color: rgb(239 68 68);
		font-size: 3vh;
		margin-bottom: 3vw;
	}
	
	.home_intro_2 h1:nth-child(2),.home_intro_2 h1:nth-child(3){
		color: rgb(30 41 59);
		width:70%;
	}

	.home_intro_2 h1:nth-child(2){
		font-size: 5vh;
		font-weight: lighter;
		margin-bottom: 3vw;
	}

	.home_intro_2 h1:nth-child(3)
	{
		font-size: 2.5vh;
		font-weight: lighter;
		margin-bottom: 3vw;
	}

	.home_intro_2 a{
		display: block;
		width: 35%;
		background-color: rgb(40 40 40);
		padding:1.5vh;
		border-radius:4px;
		color: rgb(241 245 249);
		text-align: center;
		font-size:2.5vh;
		font-weight: bold;
		transition-duration: 0.25s;
	}
	
	.home_intro_2 a:hover{
		background-color: rgb(0 0 0);
		color: rgb(255 255 255);
		width: 40%;

	}

	.home_intro_2 a:active{
		background-color: rgb(245 245 245);
		color: rgb(241 245 249);
	}

	/**************************************second div*********************************/
	.home_intro > div:nth-child(2){
		width: 100vw;
		height: 90vh;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: rgb(241 245 249);
		padding: 5vw 0 0 5vw;
	}
	.home_intro > div:nth-child(2) > div{
		height: 100%;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		background-color: transparent;
		padding: 0 5vw;
	}
	.home_intro > div:nth-child(2) > div:nth-child(1){
		border:1px solid black;
		border-radius: 2vh;
		width: 55%;
		background-color: rgba(244, 244, 246, 0.1);
	}
	.home_intro > div:nth-child(2) > div:nth-child(2){
		width: 40%;
		padding: 0;
	}
	.home_intro > div:nth-child(2) > div > p{
		font-size: 1.3vw;color: rgb(8, 8, 8);
	}
	.home_intro > div:nth-child(2) > div > img{
		width: 70%;
		border-radius: 1vw;
	}


	/******************************************third div*****************************************/
	.home_intro > div:nth-child(3){
		width: 100vw;
		height: 65vh;
		background-color: rgb(241 245 249);
		color: rgb(10 10 10);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5vh 0;
	}

	.home_intro > div:nth-child(3) > div{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.home_intro > div:nth-child(3) > div:nth-child(1){
		height: 20vh;
		width: 80%;
	}
	.home_intro > div:nth-child(3) > div:nth-child(2){
		height: 40vh;
		width: 80%;
		flex-wrap: wrap;
	}

	.home_intro > div:nth-child(3) > div:nth-child(1) > h1{
		font-size: 3vw;
		border-bottom: 1px solid black;
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 20%;
		flex-wrap: wrap;
		border-left:1px solid;
		border-right:1px solid;
		border-color: rgb(82 82 82);
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div:nth-child(1){
		border-left: none;
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div:nth-child(5){
		border-right: none;
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div > h1{
		font-size: 1.3vw;
		text-align: center;
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div > img{
		width: 40%;
	}

	/****************************************fourth div********************************/
	.home_intro > div:nth-child(4){
		width: 100vw;
		height:70vh;
		background-color: rgb(8, 8, 8);
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: rgb(244 244 245);
		padding: 5vh 10vw;
	}

	.home_intro > div:nth-child(4) > div:nth-child(1){
		font-size: 2vw;
		height: 20vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top:265vh;
		right: 40vw;
		width: 20%;
		height: 10VH;
		border:1px solid rgb(241, 245, 249);
		border-radius:1vh;
		background-color: rgb(8, 8, 8);
	}

	.home_intro > div:nth-child(4) > div:nth-child(2){
		height: 40vh;
		display: inline-flex;
		justify-content: space-evenly;
		align-items: center;
		border:1px solid rgb(241 245 249);
		border-radius: 2vh;
	}

	.home_intro > div:nth-child(4) > div:nth-child(2) > div{
		width: 20%;
		height: 30%;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-left: 1px solid rgb(241 245 249);
		border-right: 1px solid rgb(241 245 249);;
	}

	.home_intro > div:nth-child(4) > div:nth-child(2) > div:nth-child(1){
		border-left: none;
	}
	
	.home_intro > div:nth-child(4) > div:nth-child(2) > div:nth-child(5){
		border-right: none;
	}

	.home_intro > div:nth-child(4) > div:nth-child(2) > div > h1{
		font-size: 2vw;
		text-align: center;
	}

	.home_intro > div:nth-child(4) > div:nth-child(2) > div > p{
		font-size: 1.3vw;
		text-align: center;
	}


	/****************************************fifth div********************************/
	.home_intro > div:nth-child(5){
		width: 100vw;
		height:70vh;
		background-color: rgb(244 244 245);
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: rgb(8 8 8);
		padding: 5vh 10vw;
	}

	.home_intro > div:nth-child(5) > div:nth-child(1){
		font-size: 2vw;
		height: 20vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top:335vh;
		right: 40vw;
		width: 20%;
		height: 10VH;
		border:1px solid rgb(8, 8, 8);
		border-radius:1vh;
		background-color: rgb(244, 244, 245);
	}

	.home_intro > div:nth-child(5) > div:nth-child(2){
		height: 40vh;
		display: inline-flex;
		justify-content: space-evenly;
		align-items: center;
		border:1px solid rgb(8 8 8);
		border-radius: 2vh;
	}

	.home_intro > div:nth-child(5) > div:nth-child(2) > div{
		width: 33.33%;
		padding: 0 1vh;
		height: 80%;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-left: 1px solid rgb(8 8 8);
		border-right: 1px solid rgb(8 8 8);;
	}

	.home_intro > div:nth-child(5) > div:nth-child(2) > div:nth-child(1){
		border-left: none;
	}
	
	.home_intro > div:nth-child(5) > div:nth-child(2) > div:nth-child(3){
		border-right: none;
	}

	.home_intro > div:nth-child(5) > div:nth-child(2) > div > h1{
		font-size: 2vw;
		text-align: center;
	}

	.home_intro > div:nth-child(5) > div:nth-child(2) > div > p{
		font-size: 1.3vw;
		text-align: center;
	}

	/**************************** sixth div*********************************/

	.home_intro > div:nth-child(6){
		width: 100vw;
		height: 60vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(8, 8, 8);
		color: rgb(240, 240, 244);
	}

	.home_intro > div:nth-child(6) > div{
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		height: 100%;
		padding: 0% 10%;
	}

	.home_intro > div:nth-child(6) > div > h1{
		font-size: 3vw;
	}

	.home_intro > div:nth-child(6) > div > ul > li,.home_intro > div:nth-child(6) > div > ul > li::before {
		list-style: disc;
		color: rgb(200, 200, 200);
		font-size: 1.5vw;
	}

}











@media only screen and (max-width:642px){
	.home_intro{
		width: 100vw;
		padding-top: 10vh;
	}
	.home_intro > div:nth-child(1){
		width: 100vw;
		padding:2vw;
		display: flex;
		flex-direction: column;
	}
/****************************************************Home Intro Wrapper*********************************************/
	.home_intro_wrapper{
		width: 100%;
	}
/*****************************************************First Home Intro**********************************************/
	.home_intro_1{
		height: 90vh;
		width: 100%;
		background-color: rgb(27 27 27);
		padding-left:5%;
		padding-top: 10%;
		transition-duration: 0.5s;
	}

	.home_intro_1 h1:nth-child(1){
		color: rgb(74 222 128);
		font-size: 3vh;
		margin-bottom: 5vh;
	}
	
	.home_intro_1 h1:nth-child(2),.home_intro_1 h1:nth-child(3){
		color: rgb(241 245 249);
		width:70%;
	}

	.home_intro_1 h1:nth-child(2){
		font-size: 5vh;
		font-weight: lighter;
		margin-bottom: 3vh;
	}

	.home_intro_1 h1:nth-child(3)
	{
		font-size: 2.5vh;
		font-weight: lighter;
		margin-bottom: 5vh;
	}

	.home_intro_1 a{
		display: block;
		width: 50%;
		background-color: rgb(225 225 225);
		padding:1.5vh;
		border-radius:4px;
		color: rgb(30 41 59);
		text-align: center;
		font-size:2.5vh;
		font-weight: bold;
		transition-duration: 0.25s;
	}
	
	.home_intro_1 a:active{
		background-color: rgb(200 200 200);
		color: rgb(20 42 78);
	}
/*************************************************Second Home Intro***********************************************/
	.home_intro_2{
		height: 90vh;
		width: 100%;
		background-color: rgb(245 245 245);
		padding-left:5%;
		padding-top: 10%;
	}

	.home_intro_2 h1:nth-child(1){
		color: rgb(239 68 68);
		font-size: 3vh;
		margin-bottom: 5vh;
	}
	
	.home_intro_2 h1:nth-child(2),.home_intro_2 h1:nth-child(3){
		color: rgb(30 41 59);
		width:70%;
	}

	.home_intro_2 h1:nth-child(2){
		font-size: 5vh;
		font-weight: lighter;
		margin-bottom: 3vh;
	}

	.home_intro_2 h1:nth-child(3)
	{
		font-size: 2.5vh;
		font-weight: lighter;
		margin-bottom: 5vh;
	}

	.home_intro_2 a{
		display: block;
		width: 50%;
		background-color: rgb(40 40 40);
		padding:1.5vh;
		border-radius:4px;
		color: rgb(241 245 249);
		text-align: center;
		font-size:2.5vh;
		font-weight: bold;
		transition-duration: 0.25s;
	}
	

	.home_intro_2 a:active{
		background-color: rgb(80 80 80);
		color: rgb(200 200 200);
	}

	.home_intro > div:nth-child(2){
		display: flex;
		flex-direction: column;
	}

	.home_intro > div:nth-child(2) > h1{
		text-align: center;
		font-size: 3vw;
	}
	.home_intro > div:nth-child(2) > hr{
		width:15vw;
		margin: auto;
		margin-bottom: 5vh;
	}

	.home_intro > div:nth-child(2) > div{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		background-color: white;
	}

	.home_intro > div:nth-child(2) > div > img:nth-child(3){
		width: 13zvw;
	}

	/******************************************third div*****************************************/
	.home_intro > div:nth-child(3){
		width: 100vw;
		height: 65vh;
		background-color: rgb(241 245 249);
		color: rgb(10 10 10);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2.5vh 0;
	}

	.home_intro > div:nth-child(3) > div{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.home_intro > div:nth-child(3) > div:nth-child(1){
		height: 20vh;
		width: 80%;
	}
	.home_intro > div:nth-child(3) > div:nth-child(2){
		height: 40vh;
		width: 80%;
		flex-wrap: wrap;
	}

	.home_intro > div:nth-child(3) > div:nth-child(1) > h1{
		font-size: 3vw;
		border-bottom: 1px solid black;
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 20%;
		flex-wrap: wrap;
		border-left:1px solid;
		border-right:1px solid;
		border-color: rgb(82 82 82);
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div:nth-child(1){
		border-left: none;
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div:nth-child(5){
		border-right: none;
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div > h1{
		font-size: 1.3vw;
		text-align: center;
	}

	.home_intro > div:nth-child(3) > div:nth-child(2) > div > img{
		width: 40%;
	}

	/****************************************fourth div********************************/
	.home_intro > div:nth-child(4){
		width: 100vw;
		height:70vh;
		background-color: rgb(8, 8, 8);
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: rgb(244 244 245);
		padding: 5vh 10vw;
	}

	.home_intro > div:nth-child(4) > div:nth-child(1){
		font-size: 2vw;
		height: 20vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top:265vh;
		right: 40vw;
		width: 20%;
		height: 10VH;
		border:1px solid rgb(241, 245, 249);
		border-radius:1vh;
		background-color: rgb(8, 8, 8);
	}

	.home_intro > div:nth-child(4) > div:nth-child(2){
		height: 40vh;
		display: inline-flex;
		justify-content: space-evenly;
		align-items: center;
		border:1px solid rgb(241 245 249);
		border-radius: 2vh;
	}

	.home_intro > div:nth-child(4) > div:nth-child(2) > div{
		width: 20%;
		height: 30%;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-left: 1px solid rgb(241 245 249);
		border-right: 1px solid rgb(241 245 249);;
	}

	.home_intro > div:nth-child(4) > div:nth-child(2) > div:nth-child(1){
		border-left: none;
	}
	
	.home_intro > div:nth-child(4) > div:nth-child(2) > div:nth-child(5){
		border-right: none;
	}

	.home_intro > div:nth-child(4) > div:nth-child(2) > div > h1{
		font-size: 2vw;
		text-align: center;
	}

	.home_intro > div:nth-child(4) > div:nth-child(2) > div > p{
		font-size: 1.3vw;
		text-align: center;
	}


	/****************************************fifth div********************************/
	.home_intro > div:nth-child(5){
		width: 100vw;
		height:70vh;
		background-color: rgb(244 244 245);
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: rgb(8 8 8);
		padding: 5vh 10vw;
	}

	.home_intro > div:nth-child(5) > div:nth-child(1){
		font-size: 2vw;
		height: 20vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top:335vh;
		right: 40vw;
		width: 20%;
		height: 10VH;
		border:1px solid rgb(8, 8, 8);
		border-radius:1vh;
		background-color: rgb(244, 244, 245);
	}

	.home_intro > div:nth-child(5) > div:nth-child(2){
		height: 40vh;
		display: inline-flex;
		justify-content: space-evenly;
		align-items: center;
		border:1px solid rgb(8 8 8);
		border-radius: 2vh;
	}

	.home_intro > div:nth-child(5) > div:nth-child(2) > div{
		width: 33.33%;
		padding: 0 1vh;
		height: 80%;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		border-left: 1px solid rgb(8 8 8);
		border-right: 1px solid rgb(8 8 8);;
	}

	.home_intro > div:nth-child(5) > div:nth-child(2) > div:nth-child(1){
		border-left: none;
	}
	
	.home_intro > div:nth-child(5) > div:nth-child(2) > div:nth-child(3){
		border-right: none;
	}

	.home_intro > div:nth-child(5) > div:nth-child(2) > div > h1{
		font-size: 2vw;
		text-align: center;
	}

	.home_intro > div:nth-child(5) > div:nth-child(2) > div > p{
		font-size: 1.3vw;
		text-align: center;
	}

	/**************************** sixth div*********************************/

	.home_intro > div:nth-child(6){
		width: 100vw;
		height: 60vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgb(8, 8, 8);
		color: rgb(240, 240, 244);
	}

	.home_intro > div:nth-child(6) > div{
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		height: 100%;
		padding: 0% 10%;
	}

	.home_intro > div:nth-child(6) > div > h1{
		font-size: 3vw;
	}

	.home_intro > div:nth-child(6) > div > ul > li,.home_intro > div:nth-child(6) > div > ul > li::before {
		list-style: disc;
		color: rgb(200, 200, 200);
		font-size: 1.5vw;
	}
}